ENVIRONMENT=development
DEBUG=true

# Upstage Solar API 키
# 발급: https://console.upstage.ai/
UPSTAGE_API_KEY=
LLM_MODEL=solar-pro3

# Supabase 설정
SUPABASE_URL=
SUPABASE_KEY=

#기업마당 api
BIZINFO_API_KEY=
BIZINFO_API_URL=

# 온통청년 청년정책 API
YOUTHCENTER_POLICY_API_KEY=
YOUTHCENTER_POLICY_API_URL=

# 고용24/HRD-Net 국민내일배움카드 훈련과정 API
EMPLOYMENT24_TRAINING_API_KEY=
EMPLOYMENT24_TRAINING_API_URL=

# 고용24/워크넷 채용정보 API
EMPLOYMENT24_JOB_API_KEY=
EMPLOYMENT24_JOB_API_URL=
